<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">My Store</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/checkout']">Checkout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-a-product']"
            >Add a product</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view-orders']">View orders</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
