<h2>Products</h2>
<hr>

<div *ngFor="let product of products">
  <h4>{{ product.name }}</h4>
  <p>Price: {{ product.price }}</p>
  <a [routerLink]="['/products', product.productId]" class="btn btn-primary">See details</a>
</div>
