<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1">Upis studenata</h1>
      <app-kreator></app-kreator>

      <hr />
      
      <hr />
      
      <h3>Upisani studenti</h3>
      <app-student></app-student>
    </div>
  </div>
</div>
