<div class="student mt-2 mb-1">
    <div class="student-header">
        <img [src]="dohvatiUrlSlike()" class="rounded mr-2" alt="Blue box">
        <span class="Ime i prezime">{{ student.getImePrezime() }}</span>
    </div>
    <hr>
    <div class="student-body">
        Student {{ student.getImePrezime() }} je upisao smer {{ student.getSmer() }} datuma
        {{ student.getDatumUpisa() }}
    </div>
</div>