<p>Ime: {{ ime }}</p>
<p>Prezime: {{ prezime }}</p>
<input type="button" 
       value="Dohvati informacije" 
       class="btn btn-primary"
       [disabled]="!dugmeJeUkljuceno"
       (click)="onDohvatiInformacije()">
<br><br>