<h2>Product details</h2>
<hr>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button (click)="addToCart()" class="btn btn-primary">Add to cart</button>
</div>
