<p>Moje ime je {{ ime }}</p>
<div class="form-group">
    <label>Ime:</label>
    <input type="text"
           class="form-control"
           [disabled]="unosJeOnemogucen()"
           (keyup)="onIzmeniIme($event)">
</div>
<div class="form-group">
    <label>Dvostruko povezano ime:</label>
    <input type="text"
           class="form-control"
           [disabled]="unosJeOnemogucen()"
           [(ngModel)]="ime">
</div>
<input type="button" 
       value="Sačuvaj informacije" 
       class="btn btn-primary"
       [disabled]="unosJeOnemogucen()"
       (click)="onSacuvajInformacije()">
