<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1">Upis studenata</h1>
      <!-- <app-kreator></app-kreator> -->
      <!-- <app-kreator2 (noviStudent)="onNoviStudent($event)"></app-kreator2> -->
      <!-- <app-kreator3 (noviStudent)="onNoviStudent($event)"></app-kreator3> -->
      <app-kreator4 (noviStudent)="onNoviStudent($event)"></app-kreator4>
      <hr>
      <button class="btn btn-danger" (click)="onUkloniPrvogStudenta()">Ukloni prvog studenta sa spiska</button>
      <hr>
      <h3>Upisani studenti</h3>
      <!-- <app-student></app-student> -->
      <!-- <app-student2 *ngFor="let student of studenti" [studentData]="student"></app-student2> -->
      <app-student3 *ngFor="let student of studenti" [studentData]="student"></app-student3>
    </div>
  </div>
</div>